@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../font/MontserratAlternates-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../font/MontserratAlternates-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../font/MontserratAlternates-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../font/MontserratAlternates-Regular.ttf');
    font-weight: 400;
}